.container {
  max-width: 1780px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  &--narrow {
    max-width: 1140px;
  }
}

.overflowHidden {
  overflow: hidden;
}

.textCenter {
  text-align: center;
}

.link-btn {
  background-color: #6f4dcc;
  border: none;
  padding: 10px 15px;
  color: aliceblue;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  width: 60%;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
